// color
$white: #ffffff;
$black: #000000;
$primary: #aa0601;
$mark: #650300;
$secondary: #fbf2f2;

// font-size
$fz-14: 14px;
$fz-16: 16px;
$fz-20: 20px;
$fz-24: 24px;
$fz-36: 36px;
$fz-48: 48px;
$fz-64: 64px;