<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <!-- <h1 class="index-title">我是首頁</h1> -->

    <div class="index">
      <header class="header" style="background-image: url(../assets/images/index/home-header.png); ">
        <div class="container">
          <div class="title">
            <h2>Promise-Desert 2020 早春系列</h2>
            <h1>看得清，才能看得遠</h1>
            <a href="#">立即購買</a>
          </div>
        </div>
      </header>

      <section class="service ">
        <div class="container">
          <h3>用專業的心，做專業的事</h3>
          <ul class="service-list">
            <li class="service-card "><img src="../assets/images/index/home-section2-1.png" alt="one-price">
              <h4>單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="service-card "><img src="../assets/images/index/home-section2-2.png" alt="pickup">
              <h4>20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="service-card "><img src="../assets/images/index/home-section2-3.png" alt="after-sale">
              <h4>安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="service-card "><img src="../assets/images/index/home-sectioin2-4.png" alt="glasses">
              <h4>關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>

        </div>
      </section>


      <section class="classic">
        <div class="container">
          <h3>經典系列鏡框</h3>
          <ul class="classic-list">
            <li class="classic-card"><img src="../assets/images/index/home-section3-1.png" alt="optical">
              <h4>OPTICAL</h4>
            </li>
            <li class="classic-card"><img src="../assets/images/index/home-section3-2.png" alt="sunglasses">
              <h4>SUNGLASSES</h4>
            </li>
            <li class="classic-card"><img src="../assets/images/index/home-section3-3.png" alt="functional">
              <h4>FUNCTIONAL</h4>
            </li>
          </ul>
        </div>
      </section>


      <section class="co-branding" style="background-image: url(../assets/images/index/index-bg.png);">
        <div class="container">
          <h3>聯名設計鏡框</h3>
          <ul class="brand-list">
            <li class="brand-card"><img src="../assets/images/index/home-section4-1.png" alt="branding1">
              <h4>DOUBLE A+</h4>
            </li>
            <li class="brand-card"><img src="../assets/images/index/home-section4-2.png" alt="branding2">
              <h4>YOUTH</h4>
            </li>
          </ul>
        </div>
      </section>


      <section class="customer ">
        <div class="container">
          <h3>顧客推薦</h3>
          <ul class="customer-list">
            <li>
              <div class="customer-card">
                <img src="../assets/images/index/home-section5-1.png" alt="customer1">

                <div class="customer-feedback">
                  <h5>Jessy</h5>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <span>2021/06/21</span>
                </div>

              </div>
            </li>
            <li>
              <div class="customer-card">
                <img src="../assets/images/index/home-section5-2.png" alt="customer1">

                <div class="customer-feedback">
                  <h5>凱倫</h5>
                  <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  <span>2021/04/18</span>
                </div>
              </div>
            </li>
            <li>
              <div class="customer-card">
                <img src="../assets/images/index/home-section5-3.png" alt="customer1">
                <div class="customer-feedback">

                  <h5>悠悠</h5>
                  <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  <span>2020/12/25</span>
                </div>
              </div>
            </li>
            <li>
              <div class="customer-card">

                <img src="../assets/images/index/home-section5-4.png" alt="customer1">
                <div class="customer-feedback">
                  <h5>Kyuan</h5>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <span>2020/10/31</span>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </section>

      <section class="contact">
        <div class="container ">
          <div class="form">
            <h3>聯絡我們</h3>
            <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>

            <form action="../pages/index.html">
              <label for="person">姓名</label>
              <input type="text" placeholder="陳小明" name="person" id="person">
              <label for="tel">連絡電話</label>
              <input type="text" placeholder="0912-345-789" name="tel" id="tel">
              <label for="mail">電子郵件</label>
              <input type="text" placeholder="example@email.com" name="mail" id="mail">
              <label for="feedback">意見反饋</label>

              <textarea placeholder="請輸入您的意見" name="feedback" id="feedback"></textarea>
              <div class="agree-check">
                <input type="checkbox" name="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
              </div>
              <input type="submit" value="確定送出" class="btn">
            </form>
          </div>
        </div>
      </section>






    </div>





    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>